a {
  text-decoration: none;
  color: black;
}

/* card */

.card {
  margin: 5px auto;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  transition: 0.5s;
}

.card:hover {
  transform: scale(0.97, 0.97);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.image {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: 20px;
}
