{% extends 'base.html' %}
<!-- Page title -->
{% block pagetitle %} Contact Us {% endblock pagetitle %}
<!-- Fill inside the body block -->
{% block body %}

<head>
  <link
    rel="stylesheet"
    href="{{url_for('static', filename='styles/contact.css')}}"
  />
</head>
<!-- Heading -->
<div class="row mb-5 text-center text-white laptop">
  <div class="col-lg-10 mx-auto">
    <h1
      class="display-4"
      style="padding-top: 2%; font-weight: 400; color: rgb(4, 54, 4)"
    >
      <b>📞Contact-Us📞</b>
    </h1>
    <p class="lead" style="font-weight: 500; color: black">
      For Any Queries & Suggestions Contact Us. We Are Happy To Help.
    </p>
  </div>
</div>

<!-- persons -->
<div class="row p-3">
  <!-- Anurag -->
  <div class="col">
    <div class="card p-5 bg-white shadow rounded-lg" style="height: 95%">
      <center>
        <img
          class="image"
          src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
          alt=""
        />
        <h3>Anurag Yadav</h3>
        <p class="lead" style="font-weight: 350">
          Hi, I am Anurag Yadav. Currently Pursuing Bachelors in Computer
          Science and Engineering.My Main Focus is on Machine Learning, Deep
          Learning and Artificial Intelligence.I am Also Interested in Web
          Development.
        </p>
      </center>
      <div>
        <h5>Social Media Handles :</h5>
        <br />
        <a target="_blank" href="mailto:ay1909069@gmail.com"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/732/732200.png"
            height="40"
            width="40"
          />
          : ay1909069@gmail.com</a
        >
        <br /><br />

        <a target="_blank" href="https://github.com/anurag-ay"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/1051/1051326.png"
            height="40"
            width="40"
          />
          : anurag-ay</a
        >
        <br /><br />
        <a target="_blank" href="https://www.linkedin.com/in/anurag-ay/"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png"
            height="40"
            width="40"
          />
          : anurag-ay</a
        >
        <br />
      </div>
    </div>
  </div>

  <!-- Shahwaz -->
  <div class="col">
    <div class="card p-5 bg-white shadow rounded-lg" style="height: 95%">
      <center>
        <img
          class="image"
          src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
          alt=""
        />
        <h3>Anurag Yadav</h3>
        <p class="lead" style="font-weight: 350">
          Hi, I am Anurag Yadav. Currently Pursuing Bachelors in Computer
          Science and Engineering.My Main Focus is on Machine Learning, Deep
          Learning and Artificial Intelligence.I am Also Interested in Web
          Development.
        </p>
      </center>
      <div>
        <h5>Social Media Handles :</h5>
        <br />
        <a target="_blank" href="mailto:ay1909069@gmail.com"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/732/732200.png"
            height="40"
            width="40"
          />
          : ay1909069@gmail.com</a
        >
        <br /><br />

        <a target="_blank" href="https://github.com/anurag-ay"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/1051/1051326.png"
            height="40"
            width="40"
          />
          : anurag-ay</a
        >
        <br /><br />
        <a target="_blank" href="https://www.linkedin.com/in/anurag-ay/"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png"
            height="40"
            width="40"
          />
          : anurag-ay</a
        >
        <br />
      </div>
    </div>
  </div>

  <!-- Azeem -->
  <div class="col">
    <div class="card p-5 bg-white shadow rounded-lg" style="height: 95%">
      <center>
        <img
          class="image"
          src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
          alt=""
        />
        <h3>Anurag Yadav</h3>
        <p class="lead" style="font-weight: 350">
          Hi, I am Anurag Yadav. Currently Pursuing Bachelors in Computer
          Science and Engineering.My Main Focus is on Machine Learning, Deep
          Learning and Artificial Intelligence.I am Also Interested in Web
          Development.
        </p>
      </center>
      <div>
        <h5>Social Media Handles :</h5>
        <br />
        <a target="_blank" href="mailto:ay1909069@gmail.com"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/732/732200.png"
            height="40"
            width="40"
          />
          : ay1909069@gmail.com</a
        >
        <br /><br />

        <a target="_blank" href="https://github.com/anurag-ay"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/1051/1051326.png"
            height="40"
            width="40"
          />
          : anurag-ay</a
        >
        <br /><br />
        <a target="_blank" href="https://www.linkedin.com/in/anurag-ay/"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png"
            height="40"
            width="40"
          />
          : anurag-ay</a
        >
        <br />
      </div>
    </div>
  </div>

  <!-- Hadi -->
  <div class="col">
    <div class="card p-5 bg-white shadow rounded-lg" style="height: 95%">
      <center>
        <img
          class="image"
          src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
          alt=""
        />
        <h3>Anurag Yadav</h3>
        <p class="lead" style="font-weight: 350">
          Hi, I am Anurag Yadav. Currently Pursuing Bachelors in Computer
          Science and Engineering.My Main Focus is on Machine Learning, Deep
          Learning and Artificial Intelligence.I am Also Interested in Web
          Development.
        </p>
      </center>
      <div>
        <h5>Social Media Handles :</h5>
        <br />
        <a target="_blank" href="mailto:ay1909069@gmail.com"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/732/732200.png"
            height="40"
            width="40"
          />
          : ay1909069@gmail.com</a
        >
        <br /><br />

        <a target="_blank" href="https://github.com/anurag-ay"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/1051/1051326.png"
            height="40"
            width="40"
          />
          : anurag-ay</a
        >
        <br /><br />
        <a target="_blank" href="https://www.linkedin.com/in/anurag-ay/"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png"
            height="40"
            width="40"
          />
          : anurag-ay</a
        >
        <br />
      </div>
    </div>
  </div>
</div>

{% endblock body %}
