{% extends 'base.html' %}
<!-- Page title -->
{% block pagetitle %} Contact Us {% endblock pagetitle %}
<!-- Fill inside the body block -->
{% block body %}

<head>
  <link
    rel="stylesheet"
    href="{{url_for('static', filename='styles/contact.css')}}"
  />
</head>
<!-- Heading -->
<div class="row mb-5 text-center text-white laptop">
  <div class="col-lg-10 mx-auto">
    <h1
      class="display-4"
      style="padding-top: 2%; font-weight: 400; color: rgb(4, 54, 4)"
    >
      <b>📞Contact-Us📞</b>
    </h1>
    <p class="lead" style="font-weight: 500; color: black">
      For Any Queries & Suggestions Contact Us. We Are Happy To Help.
    </p>
  </div>
</div>

<!-- persons -->
<div class="row p-3">
  <!-- Anurag -->
  <div class="col">
    <div class="card p-5 bg-white shadow rounded-lg" style="height: 95%">
      <center>
        <img
          class="image"
          src="{{url_for('static', filename='about-images/anurag.jpeg')}}"
          alt=""
        />
        <h3>Anurag Yadav</h3>
        <p class="lead" style="font-weight: 350">
          Hi, I am Anurag Yadav. Currently Pursuing Bachelors in Computer
          Science and Engineering.My Main Focus is on Machine Learning, Deep
          Learning and Artificial Intelligence.I am Also Interested in Web
          Development.
        </p>
      </center>
      <div>
        <h5>Social Media Handles :</h5>
        <br />
        <a target="_blank" href="mailto:ay1909069@gmail.com"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/732/732200.png"
            height="40"
            width="40"
          />
          : ay1909069@gmail.com</a
        >
        <br /><br />

        <a target="_blank" href="https://github.com/anurag-ay"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/1051/1051326.png"
            height="40"
            width="40"
          />
          : anurag-ay</a
        >
        <br /><br />
        <a target="_blank" href="https://www.linkedin.com/in/anurag-ay/"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png"
            height="40"
            width="40"
          />
          : anurag-ay</a
        >
        <br />
      </div>
    </div>
  </div>

  <!-- Shahwaz -->
  <div class="col">
    <div class="card p-5 bg-white shadow rounded-lg" style="height: 95%">
      <center>
        <img
          class="image"
          src="{{url_for('static', filename='about-images/shahwaz.jpeg')}}"
          alt=""
        />
        <h3>Mohd. Shahwaz</h3>
        <p class="lead" style="font-weight: 350">
          Hi, I am Mohd. Shahwaz. Currently Pursuing Bachelors in Computer
          Science and Engineering.My area of interest is Web Development and
          full stack Development.
        </p>
      </center>
      <div>
        <h5>Social Media Handles :</h5>
        <br />
        <a
          target="_blank"
          href="mailto:mohdshahwaz9305@gmail.com"
          style="font-size: 13px; font-weight: 600"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/732/732200.png"
            height="40"
            width="40"
          />
          : mohdshahwaz9305@gmail.com</a
        >
        <br /><br />

        <a target="_blank" href="https://github.com/Shahwaz9305"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/1051/1051326.png"
            height="40"
            width="40"
          />
          : Shahwaz9305</a
        >
        <br /><br />
        <a
          target="_blank"
          href="https://www.linkedin.com/in/mohd-shahwaz-441384213/"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png"
            height="40"
            width="40"
          />
          : mohd-shahwaz</a
        >
        <br />
      </div>
    </div>
  </div>

  <!-- Azeem -->
  <div class="col">
    <div class="card p-5 bg-white shadow rounded-lg" style="height: 95%">
      <center>
        <img
          class="image"
          src="{{url_for('static', filename='about-images/azeem.jpg')}}"
          alt=""
        />
        <h3>Abdul Azeem Khan</h3>
        <p class="lead" style="font-weight: 350">
          Hi, I am Abdul Azeem Khan. Currently Pursuing Bachelors in Computer
          Science and Engineering.My area of interest is Web Development and
          full stack Development.
        </p>
      </center>
      <div>
        <h5>Social Media Handles :</h5>
        <br />
        <a target="_blank" href="mailto:abdazekha002@gmail.com"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/732/732200.png"
            height="40"
            width="40"
          />
          : abdazekha002@gmail.com</a
        >
        <br /><br />

        <a target="_blank" href="https://github.com/KhanAzeeem"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/1051/1051326.png"
            height="40"
            width="40"
          />
          : KhanAzeeem</a
        >
        <br /><br />
        <a
          target="_blank"
          href="https://www.linkedin.com/in/abdul-azeem-khan-34766522a/"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png"
            height="40"
            width="40"
          />
          : abdul-azeem-khan</a
        >
        <br />
      </div>
    </div>
  </div>

  <!-- Hadi -->
  <div class="col">
    <div class="card p-5 bg-white shadow rounded-lg" style="height: 95%">
      <center>
        <img
          class="image"
          src="{{url_for('static', filename='about-images/hadi.jpeg')}}"
          alt=""
        />
        <h3>Abdul Hadi</h3>
        <p class="lead" style="font-weight: 350">
          Hi, I am Abdul Hadi. Currently Pursuing Bachelors in Computer Science
          and Engineering.My Main Focus is on Machine Learning, Deep Learning
          and Artificial Intelligence.I am Also Interested in Web Development.
        </p>
      </center>
      <div>
        <h5>Social Media Handles :</h5>
        <br />
        <a target="_blank" href="mailto:mfnadwi0522@gmail.com"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/732/732200.png"
            height="40"
            width="40"
          />
          : mfnadwi0522@gmail.com</a
        >
        <br /><br />

        <a target="_blank" href="https://github.com/Abdul-KMC"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/1051/1051326.png"
            height="40"
            width="40"
          />
          : Abdul-KMC</a
        >
        <br /><br />
        <a target="_blank" href="linkedin.com/in/abdul-hadi-716b01208"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png"
            height="40"
            width="40"
          />
          : abdul-hadi</a
        >
        <br />
      </div>
    </div>
  </div>
</div>

{% endblock body %}
